@import "macro-css/index.scss";
@import "settings/config.scss";

.bg-purple {
  background: linear-gradient(180deg, #7a00a5 0%, #bd00ff 99.09%);
}

.header {
  width: 1200px;

  &__logo {
    font-size: 30px;
    b {
      font-size: 30px;
    }
  }

  .img-c {
    position: relative;
    top: -20px;
  }
}

.button-start {
  width: 270px;
  height: 77px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 37px;
}

.result {
  padding: 70px 150px 130px;
  background: linear-gradient(89.61deg, #bf13fc -36.23%, #000000 112.62%);

  .h3-result {
    text-align: center;

    font-style: italic;
    font-weight: 900;
    font-size: 35px;

    color: #ffffff;

    margin-bottom: 50px;
  }

  .grid-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
  }

  .grid-item {
    display: flex;
    align-items: center;

    width: 370px;
    height: 100px;
    span {
      margin-right: 20px;

      font-weight: 600;
      font-size: 45px;

      color: #d3caff;
    }

    p {
      flex: 1;
      font-size: 15px;
      color: #ffffff;

      b {
        font-size: 15px;
      }
    }

    padding: 20px;

    background: linear-gradient(180deg, #ae88dd 0%, #8750cb 100%);
    border-radius: 10px;
  }

  .button-start {
    margin-top: 70px;
    width: 340px;
    font-weight: 600;
    font-size: 25px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;

    border: 3px solid #ffffff;
    border-radius: 100px;

    background: transparent;
  }
}

.program-course {
  width: 100%;
  padding: 0 100px;
  padding-top: 100px;
  padding-bottom: 150px;

  .program-title {
    font-weight: 900;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    font-family: sans-serif;

    color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;

    margin-bottom: 100px;
  }

  .course-holder {
    display: flex;
    justify-content: space-around;
  }

  .course-item {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 25px 20px 40px;
    background: radial-gradient(
        95.78% 107.98% at 4.17% 1.86%,
        #7a00a5 0%,
        #a46cff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .course-title {
    color: #fff;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .course-desc {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }

  .course-steps {
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    flex: 1;
  }

  .step {
    & > * {
      color: #fff;
    }

    align-items: center;

    margin-bottom: 20px;
  }

  .step-first .step-number {
    font-size: 30px;
  }

  .step-number {
    width: 50px;
    padding: 0px 15px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    /* or 156% */

    margin-right: 20px;

    color: #ffffff;
  }
  .step-desc {
    text-align: left;
  }

  .button-start {
    background: #ffffff;
    color: #6a25d7;
    margin-bottom: 50px;
  }

  .teacher {
    .teacher-title {
      text-align: center;
      line-height: 79px;
      b {
        font-size: 65px;
      }
      font-size: 65px;
      font-weight: normal;
      color: #000000;
    }

    .teacher-card {
      border: 6px solid #ecb6ff;
      border-radius: 35px;
      width: 500px;
      margin: 0 auto;

      background: #e5e5e5;
      position: relative;

      padding: 200px 0 0px;

      .teacher-name {
        text-align: center;
        margin-bottom: 30px;

        font-weight: 600;
        font-size: 25px;

        color: #000000;
      }

      .teacher-img {
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translateX(-50%);

        background: radial-gradient(
            139.8% 145.82% at -10.2% -6.6%,
            #d661ff 0%,
            #7a00a5 56.57%,
            #cc5cf3 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: inset 0px 12px 4px rgba(0, 0, 0, 0.25);

        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;

        img {
          position: relative;
          top: 10px;
        }
      }

      ul {
        margin-bottom: 40px;
        padding: 0 70px;
      }

      li {
        position: relative;
        list-style: none;
        padding-left: 18px;
        font-size: 20px;

        text-transform: lowercase;
        color: #000000;
      }

      li:before {
        position: absolute;
        content: "·";
        font-size: 40px;
        line-height: 20px;
        top: 0;
        left: 0;
      }

      .button-start {
        margin-bottom: 60px;
        color: #bf13fc;
        border: 1px solid #bf13fc;
      }
    }

    margin-bottom: 150px;
  }
  .payment {
    width: 750px;
    margin: 0 auto;

    .payment-title {
      font-weight: 800;
      font-size: 55px;
      text-align: center;

      color: #000000;
      margin-bottom: 35px;
    }

    .payment-desc {
      font-weight: 400;
      font-size: 35px;
      /* identical to box height */

      text-align: center;

      color: #000000;

      margin-bottom: 35px;
    }

    .payment-item {
      width: 700px;
      margin: 0 auto;
      border: 3px solid #000000;
      border-radius: 30px;
      padding: 30px;

      display: flex;
      align-items: center;
      img {
        width: 40px;
        margin-right: 40px;
      }

      p {
        font-weight: 600;
        font-size: 25px;
        /* identical to box height */

        color: #000000;
      }

      margin-bottom: 35px;
    }

    .button-start {
      color: #000000;
      border: 3px solid #000000;
      background: transparent;
      margin-bottom: 25px;
    }

    .payment-text {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
    }
  }
}

.vse-zakupki-eto {
  text-align: center;
  margin-bottom: 70px;

  .eto-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    background: linear-gradient(180deg, #bf13fc 0%, #620384 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .eto {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #000000;

    margin-bottom: 100px;
  }

  .eto-info-holder {
  }
  .eto-info-item {
    img,
    .eto-word {
      margin-bottom: 25px;
    }
  }

  .eto-info-desk {
  }

  .eto-word {
    color: linear-gradient(180deg, #acacac 0%, #000000 100%);
    font-weight: 900;
    font-size: 28px;
  }

  .button-start {
    color: #bf13fc;
    font-weight: 700;
    font-size: 20px;

    border: 2px solid #bf13fc;
    filter: drop-shadow(0px 0px 20px #bf13fc);
    border-radius: 100px;
  }
}

.tarifs {
  width: 100%;
  padding: 0 100px;
  padding-top: 50px;
  padding-bottom: 1px;

  .h3-title,
  .h4-title {
    color: #ffffff;
    font-weight: 900;
  }

  .h3-title {
    font-size: 55px;
    margin-bottom: 50px;
  }

  .h4-title {
    font-size: 25px;
  }

  p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
  }

  .tarif-type-title {
    margin-bottom: 120px;
  }

  .card-holder {
    display: flex;

    .card-item {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.45);
      border-radius: 15px;
      width: 365px;
      padding: 0 30px;
      position: relative;
      padding-top: 120px;
      padding-bottom: 60px;

      .img-holder-1,
      .img-holder-2 {
        img {
          width: 100px;
        }
        padding: 10px;
        background: #ffffff;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
      }

      .img-holder-1 {
        border-radius: 50%;
      }

      .img-holder-2 {
        display: flex;
        border-radius: 20px;
        padding: 10px 20px;

        img + img {
          margin-left: 30px;
        }
      }

      ul {
        height: 460px;
      }

      .discount {
        position: absolute;
        top: 64%;
        right: -56px;

        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 51px;
        color: #ff0000;

        width: 122.29px;
        height: 54.95px;

        background: #ebff00;
        border: 1px solid #ffe600;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transform: rotate(10deg);
      }

      li,
      b {
        font-size: 15px;
      }

      li {
        position: relative;
        list-style: none;
        padding-left: 18px;

        text-transform: lowercase;
        color: #000000;
      }

      li:before {
        position: absolute;
        content: "·";
        font-size: 33px;
        line-height: 20px;
        top: -3px;
        left: 0;
      }

      li.text-red-line-through {
        text-decoration: line-through;
        color: #ff0000;
      }

      li.text-purple {
        color: #d661ff;
        b {
          color: #8000ad;
        }
      }

      .price-red {
        color: #ff0000;
      }

      .price-big {
        font-weight: 600;
        font-size: 37px;
        line-height: 61px;

        color: #7a00a5;
      }

      .price-desc {
        color: #000000;
      }

      .strikethrough {
        position: relative;
      }
      .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;

        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
      }

      .button-start {
        color: #ffffff;
        background: linear-gradient(180deg, #c65aec 0%, #8100ae 100%);
      }
    }
  }

  .h5-title {
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height */

    color: #000000;

    padding-bottom: 10px;
  }

  .card-holder.card-holder-2 {
    display: flex;

    .card-item {
      width: 430px;
      padding-top: 100px;

      padding-top: 80px;
    }

    ul {
      height: 420px;
    }
    .discount {
      top: 69%;
    }
  }

  .card-holder.card-holder-3 {
    display: flex;

    .card-item {
      width: 470px;
      padding-top: 100px;

      padding-top: 80px;
    }

    ul {
      height: 470px;
    }
    .discount {
      top: 69%;
    }
  }
}

.form-registration {
  margin-top: 150px;
  width: 1200px;
  .form-title {
    font-weight: 900;
    font-size: 50px;
  }

  input {
    border-style: none;
    background: transparent;
    outline: none;
  }

  .form-container {
    .form-group {
      width: 600px;
      margin: auto;
      position: relative;
    }

    .bt-line {
      position: absolute;
      width: 90%;
      border-top: 2px solid #000000;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
    }

    .input-t {
      border: 2px solid #000000;
      border-radius: 30px;
      height: 100px;
      padding: 30px;
      margin-bottom: 30px;
      position: relative;
    }

    .container {
      display: block;
      position: relative;
      padding-left: 18px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196f3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 10px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .form-button {
    width: 430px;
    height: 90px;
    background: linear-gradient(94.67deg, #d661ff 6.97%, #6a008f 101.94%);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
  }
}

.footer {
  width: 1200px;
  margin: auto;

  margin-top: 150px;
  margin-bottom: 150px;

  &-socials {
    margin-bottom: 100px;
  }

  &-address {
    font-size: 15px;
    color: #808080;

    margin-bottom: 100px;
  }

  .logo {
    font-size: 19px;
  }
  &__logo {
    font-size: 15px;
  }
}
